<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Antígua e Barbuda</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/fontawesome-free-5.10.2-web/css/all.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/estilomeu.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><img src="../../img/bandera.png" width='70px'alt="Paris"><a href="#intro" class="scrollto">Antígua e Barbuda</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Inicio</a></li>
          <li><a href="#about">Saiba Mais</a></li>
          <li><a href="#services">Dados Gerais</a></li>
          <li><a href="#gastronomia">Gastronomia</a></li>
          <li><a href="#team">Personalidades</a></li>
          <li class="menu-has-children"><a href="#portfolio">Multimedia</a>
          </li>
          <li><a href="#contact">Mapa</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="../../img/antiguabarbuda5.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>País no Caribe</h2>
                <p>Antígua e Barbuda é um país independente da Commonwealth (Comunidade das Nações) que abrange 2 ilhas homônimas e várias outras menores. Situado no encontro entre o Atlântico e o Mar do Caribe, o país é conhecido por suas praias com recifes de coral, florestas tropicais e resorts. Seu Porto Inglês é um centro de iatismo e local da histórica base Nelson's Dockyard. Na capital, St. John's, o Museu Nacional exibe artefatos indígenas e coloniais.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Saiba mais</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../../img/antiguabarbuda1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>País no Caribe</h2>
                <p>Antígua e Barbuda é um país independente da Commonwealth (Comunidade das Nações) que abrange 2 ilhas homônimas e várias outras menores. Situado no encontro entre o Atlântico e o Mar do Caribe, o país é conhecido por suas praias com recifes de coral, florestas tropicais e resorts. Seu Porto Inglês é um centro de iatismo e local da histórica base Nelson's Dockyard. Na capital, St. John's, o Museu Nacional exibe artefatos indígenas e coloniais.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Saiba mais</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../../img/antiguabarbuda2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>País no Caribe</h2>
                <p>Antígua e Barbuda é um país independente da Commonwealth (Comunidade das Nações) que abrange 2 ilhas homônimas e várias outras menores. Situado no encontro entre o Atlântico e o Mar do Caribe, o país é conhecido por suas praias com recifes de coral, florestas tropicais e resorts. Seu Porto Inglês é um centro de iatismo e local da histórica base Nelson's Dockyard. Na capital, St. John's, o Museu Nacional exibe artefatos indígenas e coloniais.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Saiba mais</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../../img/antiguabarbuda3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>País no Caribe</h2>
                <p>Antígua e Barbuda é um país independente da Commonwealth (Comunidade das Nações) que abrange 2 ilhas homônimas e várias outras menores. Situado no encontro entre o Atlântico e o Mar do Caribe, o país é conhecido por suas praias com recifes de coral, florestas tropicais e resorts. Seu Porto Inglês é um centro de iatismo e local da histórica base Nelson's Dockyard. Na capital, St. John's, o Museu Nacional exibe artefatos indígenas e coloniais.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Saiba mais</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../../img/antiguabarbuda4.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>País no Caribe</h2>
                <p>Antígua e Barbuda é um país independente da Commonwealth (Comunidade das Nações) que abrange 2 ilhas homônimas e várias outras menores. Situado no encontro entre o Atlântico e o Mar do Caribe, o país é conhecido por suas praias com recifes de coral, florestas tropicais e resorts. Seu Porto Inglês é um centro de iatismo e local da histórica base Nelson's Dockyard. Na capital, St. John's, o Museu Nacional exibe artefatos indígenas e coloniais.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Saiba mais</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a href="">Analfabetismo</a></h4>
            <p class="description">
              O analfabetismo em Antigua e Barbuda somente e de 1% en 2018 a partir dos 15 anos de idade</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="">Horario</a></h4>
            <p class="description">Antigua e barbuda utiliza o horario padrao (GMT-4)</p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="">Mortalidade Infantil</a></h4>
            <p class="description">Em 2015 a taxa de mortalidade infantil era de 13,8 mortes de menores em um ano por 1000 nascidos vivos</p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Historia</h3>
          <p>Os siboneys foram os primeiros habitantes conhecidos das ilhas de Antígua e Barbuda: em 2400 a.C., já habitavam as ilhas. 
            Porém, quando Cristóvão Colombo lá desembarcou na sua segunda viagem, em 1493, eram tribos de ameríndios arawaks e caribes que as povoavam. Aos primeiros povoamentos de espanhóis e franceses, sucederam-se os britânicos que formaram uma colónia em 1667. 
            A escravatura, estabelecida para fornecer mão de obra para as plantações de cana-de-açúcar em Antígua, foi abolida em 1834. 
            O país integrou a Federação Leeward de 1871 a 1956. Foi colônia autônoma do Reino Unido (1956-1958) até fazer parte da Federação das Índias Ocidentais (1958-1962). 
            Entre 1967 e 1981, foi um estado associado ao Reino Unido. As ilhas transformaram-se num estado independente dentro da Commonwealth em 1981.
            <br>
            A ilha de Antígua, originalmente chamado de "Wa'ladli" pelos Arawaks, é hoje chamado de "Wadadli" pelos habitantes locais. É possível que caribenhos tenham chamado de "Wa'omoni". 
            Cristóvão Colombo, ao navegar por volta de 1493, chamou a ilha de Santa Maria la Antigua, em homenagem a um ícone da Catedral de Sevilha. 
            Os espanhóis não colonizaram Antígua porque faltou água fresca, não por causa dos habitantes agressivos.
            </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="../../img/esclavitud.jpg" alt="" class="img-fluid">
              </div>
             
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="../../img/aborigenes.png" alt="" class="img-fluid">
              </div>
              
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="../../img/arahuacos.png" alt="" class="img-fluid">
              </div>
              
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Dados Gerais</h3>
         <br><br>    </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-cross"></i></div>
            <h4 class="title"><a href="">Religião</a></h4>
            <p class="description">Maioria Cristãos e alguns Rastafari</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-globe-americas"></i></div>
            <h4 class="title"><a href="">Continente</a></h4>
            <p class="description">América do Norte</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-coins"></i></div>
            <h4 class="title"><a href="">Moeda</a></h4>
            <p class="description">Dólar do Caribe Oriental</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-language"></i></div>
            <h4 class="title"><a href="">Língua oficial</a></h4>
            <p class="description">Língua inglesa</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-search-location"></i></div>
            <h4 class="title"><a href="">Capital</a></h4>
            <p class="description">Saint John</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-border-all"></i></div>
            <h4 class="title"><a href="">Superfície</a></h4>
            <p class="description">442,6 km2 ( 3 ilhas / Antigua, Barbuda e Redonda, a ultima e deshabitdada ).</p>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Call To Action Section
    ============================-->
    <!-- #call-to-action -->

    <!--==========================
      Skills Section
    ============================-->
  

    <!--==========================
      Facts Section
    ============================-->
   <!-- #facts -->



    <!--==========================
      Clients Section
    ============================-->
    <!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="gastronomia" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Gastronomia</h3>
          <p></p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="gastronomia-col">
              <div class="img">
                <img src="img/rumpunch.png" alt="" class="img-fluid">
              </div>
              <h2 class="title"><a href="#">Rum Punch</a></h2>
              <p>
                  Embora o rum seja a principal bebida alcoólica da ilha, o ponche de rum é a bebida favorita da ilha. E, praticamente todo mundo dirá que, se você quiser encontrar o melhor ponche de rum do Caribe, vá até Papa Zouk, nos arredores de St. John's. Mais de 200 rum percorrem o bar e as prateleiras ao longo das paredes do restaurante e você garante um rum ou um ponche de rum que se adeque ao seu paladar. Um dos favoritos é o Ti 'Punch de Papa Zouk, feito com rum, suco de limão e açúcar de cana de alta qualidade.
                </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="gastronomia-col">
              <div class="img">
                <img src="img/conch.png" alt="" class="img-fluid">
              </div>
              <h2 class="title"><a href="#">Conch</a></h2>
              <p>
                  Como a maioria das ilhas do Caribe, Antígua se destaca em frutos do mar e conchas é uma das carnes mais populares. Conch (pronunciado conk) é a carne encontrada dentro das conchas em espiral que aparecem nas praias arenosas das Índias Ocidentais. Ligeiramente mastigável e remanescente de amêijoas, a concha pode ser preparada em caril, bolinhos, sopa e crus em ceviches.  
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="gastronomia-col">
              <div class="img">
                <img src="img/wadadlibeer.png" alt="" class="img-fluid">
              </div>
              <h2 class="title"><a href="#">Wadadli Beer</a></h2>
              <p>
              
A cerveja pode não parecer uma escolha óbvia em uma ilha do Caribe conhecida por seu rum, mas a cerveja Wadadli é exclusiva de Antígua. Fabricada na ilha e batizada com o nome da antiga palavra para o povo da Antigua, Wadadli é uma cerveja leve e doce, perfeita para beber em uma agradável noite de Antigua perto da água. O Wadadli não está amplamente disponível fora do Caribe, então você terá que aproveitar bastante enquanto estiver em Antígua.  
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Personalidades</h3>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Viv Richards
                  </h4>
                  <span>Jogador de críquete</span>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jamaica Kincaid</h4>
                  <span>Romancista</span>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Baldwin Spencer</h4>
                  <span>Político</span>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Claudette Peters</h4>
                  <span>Cantora</span>
                  
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->
        <!--==========================
      Video Section
    ============================-->
    <section id="portfolio" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Videos</h3>
        </div>
      

        <div class="row contact-info">

          
          <video id="videoarea" controls="controls" poster="" src=""></video>

          <ul id="playlist">
              <li movieurl="videos/dance1.mp4" moviesposter="img/playvideo.png">Dança Tipica 1</li>
              <li movieurl="videos/dance2.mp4">Dança Tipica 2</li>          
              <li movieurl="videos/dance3.mp4">Dança Tipica 3</li>      
              <li movieurl="videos/dance4.mp4">Dança Tipica 4</li>
          </ul>
        </div>

   

      </div>
    </section><!-- #video -->
      <!--==========================
      Audio Section
    ============================-->
    <section id="portfolio" class="section-bg wow fadeInUp"> <!-- cambiar el id portfolio a audios y hacer una copia de todo el css con un nuevo id en mi carpeta estilomeu.css -->
      <div class="container">

        <div class="section-header">
          <h3>Audios</h3>
        </div>
      

        <div class="row contact-info">

          
                          
              <div class="posicao_texto" >
                      <audio id="audioarea" controls="controls" poster="" src="" ></audio>
                      <ul id="playlist_audio" style="font-size: 14px">
                         
                          <li class="audios" movieurl="audios/hino.mp3">Hino Nacional do Antigua e Barbuda</li>
                          <li class="audios" movieurl="audios/musica1.mp3">FIRST SERENADE BAND-CHALE' L'AMOUR</li>  
                          <li class="audios" movieurl="audios/musica2.mp3">Burning Flames - One Bad Apple</li>
                          </ul>
                  </div>
          </div>
        </div>

   

      </div>
    </section><!-- #video -->
    <!--==========================
    Imagens Section
  ============================-->

    <section id="portfolio"  class="section-bg" ><!-- cambiar el id portfolio a imagenes y hacer una copia de todo el css con un nuevo id en mi carpeta estilomeu.css -->
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Imagens</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/image1.jpg" class="img-fluid" alt="">
                <a href="img/image1.jpg" data-lightbox="portfolio" data-title="Docas Navais de Antigua" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Docas Navais de Antigua</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/image2.jpg" class="img-fluid" alt="">
                <a href="img/image2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Long Island" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Long Island</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/image3.jpg" class="img-fluid" alt="">
                <a href="img/image3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Dickenson Bay" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Dickenson Bay</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/image4.jpg" class="img-fluid" alt="">
                <a href="img/image4.jpg" class="link-preview" data-lightbox="portfolio" data-title="Fort James" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Fort James</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/image5.jpg" class="img-fluid" alt="">
                <a href="img/image5.jpg" class="link-preview" data-lightbox="portfolio" data-title="Darkwood Beach" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Darkwood Beach</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/image6.jpg" class="img-fluid" alt="">
                <a href="img/image6.jpg" class="link-preview" data-lightbox="portfolio" data-title="Shirley Heights" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Shirley Heights</a></h4>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- #imagens -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

      

        <div class="row contact-info">

          
        <iframe src="https://www.google.com/maps/d/embed?mid=1MMcCxIDz7sd031Z1FoCOCDKyKszKw0N4" width="1440" height="550"></iframe>

        </div>

   

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">


    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>AntonyDSM</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://linkedin/antonydsm.com/">Antony Maikel da Silva Mello</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <script src="js/js.js"></script>
  <script src="js/audio.js"></script>

</body>
</html>
